Setting license file path to 35015@licserv0011.com
rlmutil v12.2
Copyright (C) 2006-2017, Reprise Software, Inc. All rights reserved.


	rlm status on licserv0011.com (port 35015), up 15d 11:08:25
   	rlm software version v12.2 (build:2)
	rlm comm version: v1.2
	Startup time: Tue Oct 19 01:40:13 2021
	Todays Statistics (13:48:32), init time: Tue Nov  2 23:00:06 2021
	Recent Statistics (00:16:08), init time: Wed Nov  3 12:32:30 2021

	             Recent Stats         Todays Stats         Total Stats
	              00:16:08             13:48:32             11:08:25
	Messages:    582 (0/sec)           28937 (0/sec)          777647 (0/sec)
	Connections: 463 (0/sec)           23147 (0/sec)          622164 (0/sec)

	--------- ISV servers ----------
	   Name           Port Running Restarts
	csci             63133   Yes      0

	------------------------

	csci ISV server status on licserv0011.com (port 63133), up 15d 11:08:18
	csci software version v12.2 (build: 2)
	csci comm version: v1.2
	csci Debug log filename: F:\RLM\Logs\csci.dlog
	csci Report log filename: F:\RLM\logs\Reportlogs\CSCILOG.rl
	Startup time: Tue Oct 19 01:40:20 2021
	Todays Statistics (13:48:32), init time: Tue Nov  2 23:00:06 2021
	Recent Statistics (00:16:08), init time: Wed Nov  3 12:32:30 2021

	             Recent Stats         Todays Stats         Total Stats
	              00:16:08             13:48:32             11:08:18
	Messages:    691 (0/sec)           34770 (0/sec)          935961 (0/sec)
	Connections: 345 (0/sec)           17359 (0/sec)          466699 (0/sec)
	Checkouts:   0 (0/sec)           1 (0/sec)          237 (0/sec)
	Denials:     0 (0/sec)           0 (0/sec)          0 (0/sec)
	Removals:    0 (0/sec)           0 (0/sec)          0 (0/sec)


	{% for feature in licenses %}

	------------------------

	csci license pool status on licserv0011.com (port 63133)

		{{feature.license_name}} v3.0
		count: {{feature.total_licenses}}, # reservations: 0, inuse: {{feature.in_use}}, exp: 31-jan-2022
		obsolete: 0, min_remove: 120, total checkouts: 0
	    {% if feature.any_in_use %}


	------------------------

	csci license usage status on licserv0011.com (port 63133)

	{% for license_in_use in feature.licenses_in_use %}
	{{license_in_use.license_name}} v3.0: {{license_in_use.user_name}}@{{license_in_use.lead_host}} {{license_in_use.quantity}}/0 at 11/01 09:01  (handle: 15a)
    {% endfor %}
	{% endif %}
{% endfor %}
