name: Build Sphinx documentation

# This action:
#   - Is triggered when a file in the docs-source folder is pushed;
#   - Build the documentation using Sphinx;
#   - Publish the documentation to GitHub Pages.

on:
  pull_request:
    paths:
      - 'lm-docs/docs/**'
      - 'lm-agent/lm_agent/**'
      - 'lm-api/lm_api/**'
      - 'lm-cli/lm_cli/**'
    types:
      - closed

permissions:
  contents: write
  pages: write

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: 3.12

      - name: Install uv
        uses: astral-sh/setup-uv@681c641aba71e4a1c380be3ab5e12ad51f415867 # v7

      - name: Build documentation
        working-directory: lm-docs
        run: |
          make docs

      - name: Deploy documentation
        uses: peaceiris/actions-gh-pages@4f9cc6602d3f66b9c108549d475ec49e8ef4d45e # v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: lm-docs/docs/site
