name: Prepare for release

# This action:
#   - Is triggered manually in a workflow dispatch;
#   - Inquire the kind of release in a dropdown menu;
#   - Use uv to bump up the versions;
#   - Create a new header for the new version at the changelogs;
#   - Check if all sub-projects share the same version number;
#   - Create a new branch named prepare-release/<new_version>;
#   - Open a draft PR to the main branch, so all the changes above can be reviewed by the team before merging.

on:
  workflow_dispatch:
    inputs:
      bump_rule:
        type: choice
        description: Bump version rule for uv
        options:
        - major
        - minor
        - patch
        - stable
        - alpha
        - beta
        - rc
        - post
        - dev

permissions:
  contents: write
  pull-requests: write

jobs:
  bump-version:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - uses: actions/setup-python@v2
        with:
          python-version: 3.12

      - name: Install uv
        uses: astral-sh/setup-uv@681c641aba71e4a1c380be3ab5e12ad51f415867 # v7

      - id: agent-package
        name: Bump version on the agent
        working-directory: lm-agent
        run: |
          ../release-scripts/prepare-release.sh ${{ github.event.inputs.bump_rule }}
          echo "uv version is: $(uv version --short)"
          echo "::set-output name=version::$(uv version --short)"

      - id: backend-package
        name: Bump version on the API
        working-directory: lm-api
        run: |
          ../release-scripts/prepare-release.sh ${{ github.event.inputs.bump_rule }}
          echo "uv version is: $(uv version --short)"
          echo "::set-output name=version::$(uv version --short)"

      - id: lm-cli-package
        name: Bump version on the CLI
        working-directory: lm-cli
        run: |
          ../release-scripts/prepare-release.sh ${{ github.event.inputs.bump_rule }}
          echo "uv version is: $(uv version --short)"
          echo "::set-output name=version::$(uv version --short)"

      - id: lm-sim-package
        name: Bump version on the Simulator
        working-directory: lm-simulator
        run: |
          ../release-scripts/prepare-release.sh ${{ github.event.inputs.bump_rule }}
          echo "uv version is: $(uv version --short)"
          echo "::set-output name=version::$(uv version --short)"

      - id: lm-sim-api-package
        name: Bump version on the Simulator API
        working-directory: lm-simulator-api
        run: |
          ../release-scripts/prepare-release.sh ${{ github.event.inputs.bump_rule }}
          echo "uv version is: $(uv version --short)"
          echo "::set-output name=version::$(uv version --short)"

      - name: Fail if uv packages version don't match
        if: ${{ steps.agent-package.outputs.version != steps.backend-package.outputs.version != steps.lm-cli-package.outputs.version != steps.lm-sim-package.outputs.version != steps.lm-sim-api-package.outputs.version }}
        run: echo "uv packages version don't match!"

      - uses: peter-evans/create-pull-request@4320041ed380b20e97d388d56a7fb4f9b8c20e79 # v7
        name: Create Pull Request
        id: cpr
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          commit-message: "Prepared release ${{ steps.agent-package.outputs.version }}"
          branch: "prepare-release/${{ steps.agent-package.outputs.version }}"
          title: "Release ${{ steps.agent-package.outputs.version }}"
          draft: true
          delete-branch: true
          body: "Automated changes by [prepare_release](https://github.com/omnivector-solutions/license-manager/blob/main/.github/workflows/prepare_release.yaml) GitHub action."

      - name: Show Pull Request info
        if: ${{ steps.cpr.outputs.pull-request-number }}
        run: |
          echo "Pull Request Number - ${{ steps.cpr.outputs.pull-request-number }}"
          echo "Pull Request URL - ${{ steps.cpr.outputs.pull-request-url }}"
