name: 'TestOnPr'

on:
  pull_request:

jobs:
  tests:
    name: "Tests"
    runs-on: "ubuntu-latest"
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
        with:
          python-version: '3.8'
          architecture: 'x64'
      - uses: Gr1N/setup-poetry@v8
      - name: "run full suite of tests"
        run: make qa
